/* Reset default browser styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Full page setup */
body, html {
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensures container is centered */
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
